[versions]
kotlin-version = "2.1.20"
kaml-version = "0.77.1"
logback-version = "1.5.18"
serialization-version = "1.8.1"
maven-artifact-version = "3.9.9"
detekt-version = "1.23.8"
jgit-version="7.2.0.202503040940-r"
compress-version="1.27.1"

[libraries]
kotlin-compiler = { module = "org.jetbrains.kotlin:kotlin-compiler", version.ref = "kotlin-version" }
kotlin-stdlib-wasm = { module = "org.jetbrains.kotlin:kotlin-stdlib-wasm-js", version.ref = "kotlin-version" }
kotlinx-serialization-core = { module = "org.jetbrains.kotlinx:kotlinx-serialization-core", version.ref = "serialization-version" }
kotlinx-serialization-json = { module = "org.jetbrains.kotlinx:kotlinx-serialization-json", version.ref = "serialization-version" }
kaml = { module = "com.charleskorn.kaml:kaml", version.ref = "kaml-version" }
logback-classic = { module = "ch.qos.logback:logback-classic", version.ref = "logback-version" }
maven-artifact = { module = "org.apache.maven:maven-artifact", version.ref = "maven-artifact-version" }
jgit = { module = "org.eclipse.jgit:org.eclipse.jgit", version.ref = "jgit-version" }
jgit-ssh-apache = { module = "org.eclipse.jgit:org.eclipse.jgit.ssh.apache", version.ref = "jgit-version" }
apache-compress = { module = "org.apache.commons:commons-compress", version.ref = "compress-version" }

[plugins]
detekt = { id = "io.gitlab.arturbosch.detekt", version.ref = "detekt-version" }
serialization = { id = "org.jetbrains.kotlin.plugin.serialization", version.ref = "kotlin-version" }
jvm = { id = "org.jetbrains.kotlin.jvm", version.ref = "kotlin-version" }
multiplatform = { id = "org.jetbrains.kotlin.multiplatform", version.ref = "kotlin-version" }