[versions]
kotlin-version = "1.9.22"
ktor-version = "3.0.0-beta-1"
kaml-version = "0.55.0"
reflections-version = "0.10.2"
semver-version = "3.1.0"
kotlin-logging-version = "5.1.0"
slf4j-version = "2.0.3"
serialization-version = "1.6.2"

[libraries]
kotlin-compiler = { module = "org.jetbrains.kotlin:kotlin-compiler", version.ref = "kotlin-version" }
kotlinx-serialization-json = { module = "org.jetbrains.kotlinx:kotlinx-serialization-json", version.ref = "serialization-version" }
kaml = { module = "com.charleskorn.kaml:kaml", version.ref = "kaml-version" }
semver = { module = "com.vdurmont:semver4j", version.ref = "semver-version" }
kotlin-logging = { module = "io.github.oshai:kotlin-logging-jvm", version.ref = "kotlin-logging-version" }
slf4j = { module = "org.slf4j:slf4j-simple", version.ref = "slf4j-version" }