[versions]
kotlin-version = "1.9.23"
ktor-version = "3.0.0-beta-1"
kaml-version = "0.59.0"
reflections-version = "0.10.2"
kotlin-logging-version = "6.0.9"
logback-version = "1.5.6"
serialization-version = "1.6.3"
maven-artifact-version = "3.9.7"
detekt-version = "1.23.6"
jgit-version="6.9.0.202403050737-r"
compress-version="1.26.2"

[libraries]
kotlin-compiler = { module = "org.jetbrains.kotlin:kotlin-compiler", version.ref = "kotlin-version" }
kotlinx-serialization-json = { module = "org.jetbrains.kotlinx:kotlinx-serialization-json", version.ref = "serialization-version" }
kaml = { module = "com.charleskorn.kaml:kaml", version.ref = "kaml-version" }
logback-classic = { module = "ch.qos.logback:logback-classic", version.ref = "logback-version" }
maven-artifact = { module = "org.apache.maven:maven-artifact", version.ref = "maven-artifact-version" }
jgit = { module = "org.eclipse.jgit:org.eclipse.jgit", version.ref = "jgit-version" }
apache-compress = { module = "org.apache.commons:commons-compress", version.ref = "compress-version" }

[plugins]
detekt = { id = "io.gitlab.arturbosch.detekt", version.ref = "detekt-version" }
serialization = { id = "org.jetbrains.kotlin.plugin.serialization", version.ref = "kotlin-version" }
jvm = { id = "org.jetbrains.kotlin.jvm", version.ref = "kotlin-version" }