build

.idea/*
!.idea/externalDependencies.xml
!.idea/runConfigurations
!.idea/runConfigurations/*
!.idea/vcs.xml
!.idea/dictionaries
!.idea/dictionaries/*
!.idea/copyright
!.idea/copyright/*
!.idea/icon.svg

*.iml
.vscode

.gradle
.settings
.project
.classpath
.konan

.DS_Store

hs_err_pid*
replay_pid*

.fleet
.kotlin
